target/
**/target/
!.mvn/wrapper/maven-wrapper.jar
*.jar
*.war
*.ear
*.md
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
bin/
build/
.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.dockerignore
.mvn/
mvnw
mvnw.cmd
logs/
**/logs/
